* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: black;
    width: 400px;
    margin: auto;
    margin-top: 10em; 
    padding: 10px;
    border-radius: 20px;
}

.wrapper {
    padding: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result {
    border: 1px solid #FF9500;
    border-radius: 15px;
}

#result {
    display: block;
    text-align: right;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-top: 40px;
    font-size: 3.2em;
    font-weight: 300;
    color: white;
}

button {
    font-size: 1.5em;
    width: 3em;
    height: 3em;
    margin: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

button:hover{
    transform: scale(1.08);
    filter: opacity(0.70);
}

.gray {
    background-color: #505050;
    color: white;
}

.orange {
    background-color: #FF9500;
    color: white;
}